<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />

<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
	th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

</head>


<body>
<br/><br/><br/>
	<div class="container">
		<div>
			<!--  	<div th:if="${not #lists.isEmpty(projects)}">-->

			<table class="table  table-responsive table-striped"
				th:if="${not #lists.isEmpty(projects)}">
				<thead>
					<tr>
						<th>Primary Key</th>
						<th>Title</th>
						<th>Start Date</th>
						<th>End Date</th>
						<th>Billable</th>
						<th>Active</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each='project: ${projects}'>
						<td th:text="${project.pk}">Test ...</td>
						<td th:text="${project.title}">Test ...</td>
						<td th:text="${#dates.format(project.start_date, 'dd-MMM-yyyy')}">Test
							...</td>
						<td th:text="${#dates.format(project.end_date, 'dd-MMM-yyyy')}">Test
							...</td>
						<td th:text="${project.is_billable}">Test ...</td>
						<td th:text="${project.is_active}">Test ...</td>

						<td>

							<table class="table  table-responsive table-striped"
								th:if="${not #lists.isEmpty(project.task_set)}">
								<thead>
									<tr>
										<th>Id</th>
										<th>Title</th>
										<th>Date</th>
										<th>Estimated Hours</th>
										<th>Project</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each='task: ${project.task_set}'>
										<td th:text="${task.id}">Test ...</td>
										<td th:text="${task.title}">Test ...</td>
										<td th:text="${#dates.format(task.due_date, 'dd-MMM-yyyy')}">Test
											...</td>
										<td th:text="${task.estimated_hours}">Test ...</td>
										<td th:text="${task.project}">Test ...</td>
									<tr>
									<!--  	<td th:text="${task.project_data.pk}"></td> -->
									</tr>

									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>

			<!--</div>  -->
		</div>

	</div>



</body>
</html>